<div class="board">
    <div class="search-box">
        <select class="select-menu">
            <option class="select-menu-item">제목</option>

            <option class="select-menu-item">작성자</option>
        </select>

        <input class="search-input" type="text">

        <button class="search-button">검색</button>
    </div>

    <div class="list-box">
        <ul class="list">
            <li class="list-item" ng-repeat="list in $ctrl._getList()">
                <p class="list-item-title">{{list.title}}</p>
    
                <div class="list-item-user-info">
                    <small>{{list.writer}}</small>
    
                    <br>
    
                    <small>{{list.writeDate}}</small>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="page-box">
        <ul class="page-menu">
            <li class="page-menu-item">
                <a href="#">&laquo;</a>
            </li>
    
            <li class="page-menu-item selected">
                <a href="#">1</a>
            </li>

            <li class="page-menu-item">
                <a href="#">2</a>
            </li>

            <li class="page-menu-item">
                <a href="#">3</a>
            </li>

            <li class="page-menu-item">
                <a href="#">4</a>
            </li>

            <li class="page-menu-item">
                <a href="#">5</a>
            </li>
    
            <li class="page-menu-item">
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>

    <button class="write-button" style="float: right;">게시글 작성</button>
</div>