<div class="mt-5 mb-5">
    <div class="drop-down">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>

        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>

            <a class="dropdown-item" href="#">Another action</a>

            <a class="dropdown-item" href="#">Something else here</a>

            <div class="dropdown-divider"></div>
            
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </div>

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="list in $ctrl._getList()">
            {{list.name}}

            <div>
                <small>{{list.writer}}</small>

                <br>

                <small>{{list.writeDate}}</small>
            </div>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-6 align-self-center">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
    
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
    
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
    
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
    
            <li class="page-item">
                <a class="page-link" href="#">4</a>
            </li>
    
            <li class="page-item">
                <a class="page-link" href="#">5</a>
            </li>
    
            <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        </ul>
    </div>
    
    <div class="col-6 text-right">
        <button type="button" class="btn btn-primary">글쓰기</button>
    </div>
</div>