<div class="mt-5 mb-5">
    <div class="row mb-1">
        <div class="col-6 align-self-center">
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-md-6 text-right" style="min-width: 362px;">
            <select class="custom-select" style="max-width: 100px;">
                <option selected="">제목</option>

                <option value="1">제목</option>

                <option value="2">작성자</option>
            </select>

            <input class="form-control-sm" type="text" placeholder="검색" id = "inputSmall">

            <c-button text="검색" color="blue"></c-button>
        </div>
    </div>
    

    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center" ng-repeat="list in $ctrl._getList()">
            {{list.name}}

            <div>
                <small>{{list.writer}}</small>

                <br>

                <small>{{list.writeDate}}</small>
            </div>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-6 align-self-center">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#">&laquo;</a>
            </li>
    
            <li class="page-item active">
                <a class="page-link" href="#">1</a>
            </li>
    
            <li class="page-item">
                <a class="page-link" href="#">2</a>
            </li>
    
            <li class="page-item">
                <a class="page-link" href="#">3</a>
            </li>
    
            <li class="page-item">
                <a class="page-link" href="#">4</a>
            </li>
    
            <li class="page-item">
                <a class="page-link" href="#">5</a>
            </li>
    
            <li class="page-item">
                <a class="page-link" href="#">&raquo;</a>
            </li>
        </ul>
    </div>
    
    <div class="col-6 text-right">
        <c-button href="/write" text="글쓰기" color="blue"></c-button>
    </div>
</div>