<div class="container" style="text-align: center;">
    <div class="card border-primary mt-5 mb-3" style="display: inline-block; min-width: 362px;">
        <div class="card-header">로그인</div>

        <div class="card-body">
            <div class="form-group">
                <div>
                    <label style="float: left;">제목</label>

                    <input type="text" class="form-control">
                </div>
                
                <div class="mt-2">
                    <label style="float: left;">내용</label>

                    <textarea class="form-control" style="margin-top: 0px; margin-bottom: 0px; min-height: 300px;"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>