<footer class="page-footer font-small unique-color-dark pt-4">
    <div class="container">

        <ul class="list-unstyled list-inline text-center py-2">
            <li class="list-inline-item">
                <h5 class="mb-1">지금 참여하세요!</h5>
            </li>

            <li class="list-inline-item">
                <c-button href="/login" text="로그인"></c-button>
            </li>
        </ul>

    </div>

    <div class="footer-copyright text-center py-3">
        © 2018 Copyright:
        
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
</footer>