<div class="board">
    <div class="card">
        <div class="card-header">
            <p>?? 게시판</p>
        </div>
        <div class="card-body">

            <br>

            <div class="mt-10" style="min-height: 50px;">
                <p>제목제목제목제목제목제목제목제목제목제목제목</p>
            </div>

            <div class="mt-10">
                <p>내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                </p>
            </div>

            <div class="mt-10" style="text-align: center;">
                <h1>
                    <i class="far fa-thumbs-up">123</i>
                </h1>
            </div>

            <div class="mt-10" style="height: 70px;">
                <c-button style="float: right; margin-right: 30px;" text="삭제" href=""></c-button>
                <c-button style="float: right; margin-right: 10px;" text="수정" href=""></c-button>
            </div>

            <div class="mt-10">
                <ul>
                    <li class="comment-item">
                        <hr>
    
                        <p class="comment-item-content">hi</p>
    
                        <div class="comment-item-info">
                            <small>writer</small>
            
                            <br>
            
                            <small>moment</small>
                        </div>
                        
                        <div class="comment-item-info">
                            <small><i class="far fa-thumbs-up"></i>111</small>
                        </div>
                    </li>
    
                    <li class="comment-item">
                        <hr>
    
                        <p class="comment-item-content">hi</p>
    
                        <div class="comment-item-info">
                            <small>writer</small>
            
                            <br>
            
                            <small>moment</small>
                        </div>
                        
                        <div class="comment-item-info">
                            <small><i class="far fa-thumbs-up"></i>111</small>
                        </div>
                    </li>

                    <li class="comment-item">
                        <hr>
    
                        <p class="comment-item-content">hi</p>
    
                        <div class="comment-item-info">
                            <small>writer</small>
            
                            <br>
            
                            <small>moment</small>
                        </div>
                        
                        <div class="comment-item-info">
                            <small><i class="far fa-thumbs-up"></i>111</small>
                        </div>
                    </li>
    
                    <li class="comment-item">
                        <hr>
    
                        <p class="comment-item-content">hi</p>
    
                        <div class="comment-item-info">
                            <small>writer</small>
            
                            <br>
            
                            <small>moment</small>
                        </div>
                        
                        <div class="comment-item-info">
                            <small><i class="far fa-thumbs-up"></i>111</small>
                        </div>
                    </li>

                    <li class="comment-item">
                        <hr>
    
                        <p class="comment-item-content">hi</p>
    
                        <div class="comment-item-info">
                            <small>writer</small>
            
                            <br>
            
                            <small>moment</small>
                        </div>
                        
                        <div class="comment-item-info">
                            <small><i class="far fa-thumbs-up"></i>111</small>
                        </div>
                    </li>
    
                    <li class="comment-item">
                        <hr>
    
                        <p class="comment-item-content">hi</p>
    
                        <div class="comment-item-info">
                            <small>writer</small>
            
                            <br>
            
                            <small>moment</small>
                        </div>
                        
                        <div class="comment-item-info">
                            <small><i class="far fa-thumbs-up"></i>111</small>
                        </div>
                    </li>

                    <li class="comment-item">
                        <hr>
    
                        <p class="comment-item-content">hi</p>
    
                        <div class="comment-item-info">
                            <small>writer</small>
            
                            <br>
            
                            <small>moment</small>
                        </div>
                        
                        <div class="comment-item-info">
                            <small><i class="far fa-thumbs-up"></i>111</small>
                        </div>
                    </li>
    
                    <li class="comment-item">
                        <hr>
    
                        <p class="comment-item-content">hi</p>
    
                        <div class="comment-item-info">
                            <small>writer</small>
            
                            <br>
            
                            <small>moment</small>
                        </div>
                        
                        <div class="comment-item-info">
                            <small><i class="far fa-thumbs-up"></i>111</small>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>