<div class="board">
    <div class="card">
        <div class="card-header">
            <p>?? 게시판</p>
        </div>
        
        <div class="card-body">

            <div style="min-height: 50px; margin: 30px;">
                <h3>그랑블루 판타지 출시 예정</h3>
            </div>

            <div style="margin-top: 50px; word-break:break-all;">
                <p>
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                    aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                </p>
            </div>

            <div style="text-align: center; margin-top: 50px;">
                <h1>
                    <i class="far fa-thumbs-up">123</i>
                </h1>
            </div>

            <div class="mt-10" style="height: 70px;" ng-if="false">
                <c-button style="float: right; margin-right: 30px;" text="삭제" href=""></c-button>
                <c-button style="float: right; margin-right: 10px;" text="수정" href=""></c-button>
            </div>

            <div style="margin-top: 50px;">
                <textarea class="input comment-write" style="float: left;"></textarea>
                <c-button style="margin-left: 5px;" text="작성" href=""></c-button style="margin-left: 5px;">
            </div>

            <div>
                <ul>
                    <li class="comment-item">
                        <hr>
                        <div class="comment-item-info" style="min-width: 40px;">
                            <small>가나다라마바사아</small> | <small>1분전</small>
            
                        </div>
                        <p class="comment-item-content">모야모야</p>
                    </li>

                    <li class="comment-item">
                        <hr>
                        <div class="comment-item-info" style="min-width: 40px;">
                            <small>가나다라마바사아</small> | <small>23:20</small>
            
                        </div>
                        <p class="comment-item-content">
                            도배도배도배도배도배도배도배도배도배도배도배도배도배도배도배
                            도배도배도배도배도배도배도배도배도배도배도배도배도배도배도배
                            도배도배도배도배도배도배도배도배도배도배도배도배도배도배도배
                            도배도배도배도배도배도배도배도배도배도배도배도배도배도배도배
                            도배도배도배도배도배도배도배도배도배도배도배도배도배도배도배
                            도배도배도배도배도배도배도배도배도배도배도배도배도배도배도배
                            도배도배도배도배도배도배도배도배도배도배도배도배도배도배도배
                            도배도배도배도배도배도배도배도배도배도배도배도배도배도배도배
                        </p>
                    </li>

                    <li class="comment-item">
                        <hr>
                        <div class="comment-item-info" style="min-width: 40px;">
                            <small>가나다라마바사아</small> | <small>2020-01-13</small>
            
                        </div>
                        <p class="comment-item-content">
                            내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용내용
                            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                            aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                        </p>
                    </li>

                    <li class="comment-item">
                        <hr>
                        <div class="comment-item-info" style="min-width: 40px;">
                            <small>가나다라마바사아</small> | <small>2020-01-13</small>
            
                        </div>
                        <p class="comment-item-content">댓글</p>
                    </li>

                    <li class="comment-item">
                        <hr>
                        <div class="comment-item-info" style="min-width: 40px;">
                            <small>가나다라마바사아</small> | <small>2020-01-13</small>
            
                        </div>
                        <p class="comment-item-content">댓글</p>
                    </li>

                    <li class="comment-item">
                        <hr>
                        <div class="comment-item-info" style="min-width: 40px;">
                            <small>가나다라마바사아</small> | <small>2020-01-13</small>
            
                        </div>
                        <p class="comment-item-content">댓글</p>
                    </li>

                    <li class="comment-item">
                        <hr>
                        <div class="comment-item-info" style="min-width: 40px;">
                            <small>가나다라마바사아</small> | <small>2020-01-13</small>
            
                        </div>
                        <p class="comment-item-content">댓글</p>
                    </li>

                    <li class="comment-item">
                        <hr>
                        <div class="comment-item-info" style="min-width: 40px;">
                            <small>가나다라마바사아</small> | <small>2020-01-13</small>
            
                        </div>
                        <p class="comment-item-content">댓글</p>
                    </li>

                    <li class="comment-item">
                        <hr>
                        <div class="comment-item-info" style="min-width: 40px;">
                            <small>가나다라마바사아</small> | <small>2020-01-13</small>
            
                        </div>
                        <p class="comment-item-content">댓글</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>