@import "~bootswatch/dist/yeti/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/yeti/bootswatch";

body {
    background-color: #f8f8f8;
    footer {
        margin-top: 90px;
        background-color: #ececec;
    }
}