<div class="board">
    <div class="card">
        <div class="card-header">
            <p>회원가입</p>
        </div>
        <div class="card-body">
            <div class="mt-10">
                <p>닉네임</p>

                <input class="input" type="text">
            </div>

            <div class="mt-10">
                <p>아이디(이메일)</p>

                <input class="input" type="email">
            </div>
            
            <div class="mt-10">
                <p>비밀번호</p>
    
                <input class="input" type="password">
            </div>

            <div class="mt-10">
                <p>비밀번호 확인</p>
    
                <input class="input" type="password">
            </div>

            <div class="mt-10">
                <c-button class="button-margin" text="회원가입" href="/signup"></c-button>
            </div>
        </div>
    </div>
</div>