<div class="nav">
    <h2 class="logo">
        ECon
    </h2>

    <input type="checkbox" id="check" ng-model="$ctrl.checkedYN">

    <label for="check" class="show-drop-menu">
        <i class="fas fa-ellipsis-h"></i>
    </label>

    <ul class="menu">
        <a class="menu-item" href="{{menu.href}}" ng-repeat="menu in $ctrl.menu" ng-click="$ctrl._closeMenu()">{{menu.text}}</a>

        <hr class="line">

        <a class="menu-item menu-item-login" href="/login" ng-click="$ctrl._closeMenu()">Login</a>

        <label for="check" class="hide-drop-menu">
            <i class="fas fa-times"></i>
        </label>
    </ul>
</div>