<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">ㅋㅋ</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" ng-repeat="menu in $ctrl.menu">
                <a class="nav-link" href="{{menu.href}}"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{menu.name}}</font></font></a>
            </li>
        </ul>

        <c-button href="/login" text="로그인"></c-button>
    </div>
</nav>